.container-top-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 8px;
}
.card-body{
}
.bg-transparent{
  background-color: transparent;
}
p {
  color: gray;
  margin-bottom:0;
}
h6 {
  margin-bottom:0;

}



